/* src/components/Layout.module.css /

/* Универсален reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: none !important;
  overflow-x: hidden;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  /* background-color: #cebaac; */
  background-color: #282427;
}

.mainContent {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
