/* RecipeCard.module.css */

.recipeCard {
  border: 1px solid #eeebd9;
  border-radius: 12px;
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  background-color: #eeebd9;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 12px;
}

.recipeCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.cardTitle {
  font-size: 18px;
  text-align: center;
  color: #282427;
  line-height: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
  min-height: 2.4em;
}

.cardCategory,
.cardIngredients,
.cardSteps {
    color: #282427;
  font-size: 14px;
  line-height: 1.2em;
  overflow: hidden;
  margin-bottom: 10px;
}

.cardIngredients {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardSteps {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 14px;
}

.placeholder {
  width: 100%;
  height: 120px;
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #666;
  font-size: 14px;
  margin-bottom: 14px;
}